<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="section-title">
            <h2>{{employerInfo.empFullName}}</h2>
            <p>{{employerInfo.empAboutUs}}</p>
        </div>

        <div class="row">
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Company Details</h3>
                <p class="font-italic">
                    <!-- Add about me details here -->
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Name: </strong>
                                {{employerInfo.empFullName}}
                            </li>
                            <li><i class="icofont-rounded-right"></i>
                                <strong>Username: </strong>{{employerInfo.empCode}}
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>Incorporation
                                    Date: </strong>
                                {{ getDate(employerInfo.empIncorporationDate)}}</li>
                            <li><i class="icofont-rounded-right"></i>
                                <strong>Phone: </strong>{{employerInfo.empContactNo}}
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>Address: </strong>
                                {{employerInfo.empAddress}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>Contact Person Name:
                                </strong>
                                {{employerInfo.empContactPersonName}}</li>
                            <li><i class="icofont-rounded-right"></i> <strong>PAN: </strong>
                                {{employerInfo.empPan}}
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>GSTIN: </strong>
                                {{employerInfo.empGstin}}
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>Registration Date:
                                </strong>
                                {{ getDate(employerInfo.empProfileCreationDate)}}
                            </li>
                            <li><i class="icofont-rounded-right"></i> <strong>Department:
                                </strong>
                                {{employerInfo.empDepartment}}
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    <!-- Anything special you want to tell about yourself -->
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>You can reach out to us... send us an email...
            </p>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p>{{employerInfo.empAddress}}</p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>{{employerInfo.empEmailId}}</p>
                    </div>

                    <div class="phone">
                        <i class="icofont-phone"></i>
                        <h4>Call:</h4>
                        <p>{{employerInfo.empContactNo}}</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                data-msg="Please enter at least 4 chars" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                data-msg="Please enter a valid email" />
                            <div class="validate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                            data-msg="Please enter at least 8 chars of subject" />
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea class="form-control" name="message" rows="10" data-rule="required"
                            data-msg="Please write something for us"></textarea>
                        <div class="validate"></div>
                    </div>
                    <div class="mb-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->