<div class="row">
    <!-- Company Name -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-building text-muted"></i>
            </span>
        </div>
        <input id="cname" type="text" placeholder="Company Name" [(ngModel)]="employerInfo.empFullName"
            class="form-control bg-white   border-md">
    </div>
    <!-- Email Address -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-envelope text-muted"></i>
            </span>
        </div>
        <input id="email" type="email" name="email" placeholder="Company Email Address"
            [(ngModel)]="employerInfo.empEmailId" class="form-control bg-white   border-md">
    </div>

    <!-- Phone Number -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-phone-square text-muted"></i>
            </span>
        </div>
        <input type="tel" name="phone" placeholder="Phone Number" [(ngModel)]="employerInfo.empContactNo"
            class="form-control bg-white border-md   pl-3">
    </div>

    <!-- GSTIN Number -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-address-card"></i>
            </span>
        </div>
        <input id="gstinNumber" type="text" name="Aadhar" placeholder="GSTIN Number" [(ngModel)]="employerInfo.empGstin"
            class="form-control bg-white border-md   pl-3">
    </div>
    <!-- Contact Person Name -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-user text-muted"></i>
            </span>
        </div>
        <input id="firstName" type="text" name="firstname" placeholder="Contact Person Name"
            [(ngModel)]="employerInfo.empContactPersonName" class="form-control bg-white   border-md">
    </div>

    <!--Employer type -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fas fa-arrow-down"></i>
            </span>
        </div>
        <select class="form-control bg-white   border-md" aria-label="Default select"
            [(ngModel)]="employerInfo.empTypeId">
            <option value="0">Select Employer Type</option>
            <option *ngFor="let t of cache.EmployerTypeMasters" [value]="t.empTypeId">
                {{t.empTypeDesc}}
            </option>
        </select>
    </div>


    <!--Business Stream -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fas fa-arrow-down"></i>
            </span>
        </div>
        <select class="form-control bg-white   border-md" aria-label="Default select"
            [(ngModel)]="employerInfo.businessStreamId">
            <option value="0">Select Business Stream</option>
            <option *ngFor="let t of cache.BusinessStreams" [value]="t.businessStreamId">
                {{t.businessStreamName}}
            </option>
        </select>
    </div>

    <!--Employer type -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fas fa-arrow-down"></i>
            </span>
        </div>
        <select class="form-control bg-white   border-md" aria-label="Default select" [(ngModel)]="employerInfo.incId">
            <option value="0">Select Employer Type</option>
            <option *ngFor="let t of cache.IncorporationTypes" [value]="t.incId">
                {{t.incDesc}}
            </option>
        </select>
    </div>

    <!-- empDepartment -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-building text-muted"></i>
            </span>
        </div>
        <input id="email" type="text" name="email" placeholder="Department" [(ngModel)]="employerInfo.empDepartment"
            class="form-control bg-white   border-md">
    </div>


    <!-- emp Address -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-map-marker text-muted"></i>
            </span>
        </div>
        <input id="email" type="text" name="email" placeholder="Address" [(ngModel)]="employerInfo.empAddress"
            class="form-control bg-white   border-md">
    </div>

    <!-- emp PAN -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-id-card text-muted"></i>
            </span>
        </div>
        <input id="email" type="text" name="email" placeholder="PAN Number" [(ngModel)]="employerInfo.empPan"
            class="form-control bg-white   border-md">
    </div>

    <!-- Company Incorporation Date -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-calendar-alt"></i>
            </span>
        </div>
        <input placeholder="Company Incorporation Date" onfocus="(this.type='date')"
            [(ngModel)]="employerInfo.empIncorporationDate" onblur="(this.type='text')"
            class="form-control bg-white   border-md">
    </div>


    <!-- Password -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-lock text-muted"></i>
            </span>
        </div>
        <input id="password" type="password" name="password" placeholder="Password" [(ngModel)]="employerInfo.password"
            class="form-control bg-white   border-md">
    </div>

    <!-- Password Confirmation -->
    <div class="input-group col-lg-12 mb-4">
        <div class="input-group-prepend">
            <span class="input-group-text bg-white px-4 border-md border-right-0">
                <i class="fa fa-lock text-muted"></i>
            </span>
        </div>
        <input id="passwordConfirmation" type="password" name="passwordConfirmation" [(ngModel)]="confirmPassword"
            placeholder="Confirm Password" class="form-control bg-white   border-md">
    </div>
</div>